/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    border-radius: 40px;
    padding: 16px 32px;
    background-color: #8ea1e1;
    color: #fff;
    text-decoration: none;
}

.debug {
    border: 1px solid black;
}

/*header */

header {
    
    line-height: 50px;
    background-color: rgba(49, 97, 224, 255);
}

nav .logo, nav ul {
    float: left;
}

nav .logo {
    width: 15%;
}

nav .logo img {
    vertical-align: middle;
}

nav ul {
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
}

nav ul li {
    display: inline-block;
}

ul li a {
    padding: 0 15px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#accedi {
    float: right;
    text-align: center;
    width: 15%;
}

#accedi .btn {
    padding: 10px 20px;
    background-color:#fff;
    font-size: 15px;
    color: black;
    display: inline;
}

/* main */

/* jumbotron */
#jumbotron {
    background-image: url(../img/jumbo.png);
    min-height: 540px;
    background-size: cover;
}

#jumbotron .container {
    width: 45% ;
    text-align: center;
    color: #fff;
    padding-top: 100px;
}

#jumbotron .container h1 {
    font-size: 45px;
}

#jumbotron .container p {
    padding-top: 35px;
    font-size: 17px;
    line-height: 1.4em;
}

#jumbotron .container a {
    margin: 30px 10px;
}

.white-black {
    background-color: white;
    color: black;
}

.black-white {
    background-color: black;
}

/* /jumbotron */

/* section 2 */
section .container {
   padding-top: 150px;
}

#section-2 .container .left {
    width: 65%;
}

#section-2 .container .right {
    width: 35%;
    font-size: 35px ;
}

#section-2 .container .right  h2 {
    font-size: 52px ;
    padding-top: 30px;
}

#section-2 .container .right p {
    font-size: 23px ;
    padding-top: 60px;
}

.wave {
background-image: url(../img/wave.svg);
margin-top: 100px;
height: 200px;
}

/* section 3 */

#section-3 .container .right {
    width: 65%;
}

#section-3 .container .right img{
    padding-left: 50px;
}

#section-3 .container .left {
    width: 35%;
    font-size: 35px ;
}

#section-3 .container .left  h2 {
    font-size: 52px ;
    padding-top: 30px;
}

#section-3 .container .left p {
    font-size: 23px ;
    padding-top: 40px;
    line-height: 1.3em;
}

.wave {
background-image: url(../img/wave.svg);
margin-top: 100px;
height: 200px;
}

/* section-4 */

section .container {
    padding-top: 150px;
 }
 
 #section-4 .container .left {
     width: 65%;
 }
 
 #section-4 .container .right {
     width: 35%;
     font-size: 35px ;
 }
 
 #section-4 .container .right  h2 {
     font-size: 52px ;
     padding-top: 30px;
 }
 
 #section-4 .container .right p {
     font-size: 23px ;
     padding-top: 40px;
     line-height: 1.3em;
 }
 
 .wave {
 background-image: url(../img/wave.svg);
 margin-top: 100px;
 height: 200px;
 }
 
 /* sezione 5 */
 .section-up{
     text-align: center;
 }

 .section-up h2 {
    font-size: 52px ;
    padding-top: 30px;
    text-align: center;
 }

 .section-up p {
    font-size: 23px ;
    padding-top: 40px;
    line-height: 1.3em;
 }

.section-down{
     width: 80%;
     margin: 0 auto;
 }

 .section-down img{
    width: 100%;
}

.download {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    margin-bottom: 200px;
}

.contenitore-star {
    background-image: url(../img/stars.svg);
    background-size: contain;
}

.download h4 {
    font-size: 40px;
    margin-bottom: 40px;
}

.download a {
    font-size: 30px;
}

footer{
    background-color: black;
    height: 150px;
}